@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

:root {
  background-color: #ffffff; /* Default to white */
  color: #0f172a;
}

body {
  margin: 0;
  min-height: 100vh;
}